In [18]:
import pandas as pd
import math

In [19]:
NTC = pd.read_csv("./nepse-dataset/data/NTC_2000-01-01_2021-12-31.csv",engine="pyarrow",dtype_backend="pyarrow")

In [20]:
NTC

,S.N.,Date,Total Transactions,Total Traded Shares,Total Traded Amount,Max. Price,Min. Price,Close Price
0,1,2021-12-29,215,30806.0,39598686.0,1305.0,1280.0,1283.0
1,2,2021-12-28,204,40509.0,52189110.7,1300.0,1263.3,1283.0
2,3,2021-12-27,354,61359.0,80857116.3,1360.0,1283.8,1283.8
3,4,2021-12-26,386,99511.0,133329533.5,1355.0,1320.0,1335.0
4,5,2021-12-23,347,61547.0,82635979.8,1362.0,1310.1,1335.0
...,...,...,...,...,...,...,...,...
2625,2626,2010-04-20,7,3870.0,1708480.0,445.0,440.0,444.0
2626,2627,2010-04-19,3,400.0,177500.0,445.0,441.0,441.0
2627,2628,2010-04-15,13,3300.0,1464600.0,455.0,422.0,455.0
2628,2629,2010-04-15,13,3300.0,1464600.0,455.0,422.0,455.0
2629,2630,2010-04-15,13,3300.0,1464600.0,455.0,422.0,455.0

### Consistency of Close price

In [36]:
NTC_close_price = NTC['Close Price'].copy()
count_close_price = NTC_close_price.count()
sum_close_price = NTC_close_price.sum()
count_close_price

np.int64(2630)

In [38]:
mean = float(sum_close_price / (count_close_price))
mean

684.4728973384031

In [35]:
NTC_SUM_SQUARE = 0
for x in NTC_close_price:
    NTC_SUM_SQUARE += x ** 2
NTC_SUM_SQUARE

1362451363.4913998

In [42]:
diff =float(( NTC_SUM_SQUARE - (mean ** 2))/count_close_price)
diff

517864.20545407187

In [43]:
SD = math.sqrt(diff)
SD

719.6278242633979

In [44]:
## Coefficent of Variation

CV = (SD/mean) * 100
CV

105.13605828100658